$white: #fff;
$yellow: #FFC94C;
$orange: #FF8E3C;
$lightOrange: #ffddc4;
$red: #FF4F42;
$lightRed: #f8d7da;
$ultraViolet: #612FFF;
$lightUltraViolet: #E0DCF2;
$green: #2FB47C;
$lightGreen: #C0E8D7;
$lightBlue: #C2EAF0;
$ink: #2A2A2A;
$grey: #A9A9AE;
$darkGrey: #54545E;
$softGrey: #EBECF0;
$bgGrey: #F7F7F9;
$flatGrey: #d1d2d5;
$black: #000;
$blue: #34BACC;

$textDarkGrey: #212429;
$borderLightGrey: #e1e7f0;
$awOrange: #ff9800;

$primary: $orange;

$inputBorder: $softGrey;
$inputBorderFocused: $ink;
$inputBackground: #FCFCFD;

$family-primary: AxFFDIN, Helvetica, Arial, sans-serif;
$family-title: AxLLCircular, Helvetica, Arial, sans-serif;

$text: $ink;
$weight-normal: normal;
$weight-bold: bold;
$family-code: initial;
$background: $white;
$text-strong: $black;
$link: $ultraViolet;
$link-hover: $orange;

$text: $textDarkGrey;
$textLight: $grey;
$title: $black;
